@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trade & Sell</h1>
    <br />
    <h3><strong>Trade and Sell Your Items!</strong></h3>
    <h4>Welcome to our trade and sell web application!</h4>
    <h4>By using this app, you can trade or sell your items locally!</h4>
    <h4>We are mainly focus on the items of <a style="color:orange">USED BOOKS</a>, <a style="color:orange">USED FURNITURE</a>, or <a style="color:orange">USED ELECTRONICES</a></h4>
    <br />
    <a class="btn btn-outline-primary btn-lg" href="/Identity/Account/Register">Register</a>
    <a class="btn btn-outline-success btn-lg" href="/Identity/Account/Login">Login</a>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
