@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h4>We are mohawk college students</h4>
    <h4>We are trying our best to make a great trading and selling platform for our community</h4>
    <br />
    <h4>For more questions, please contact <a href="tel:905-966-9660">(905) 966-9660</a></h4>
    <h4>or email: <a href="mailto:wangyang.li@mohawkcollege.ca">wangyang.li@mohawkcollege.ca</a></h4>
</div>